body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home {
  height: 100vh;
  position: relative;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.show {
  display: block;
}